{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
            {% if app.user.profile.image and app.user.profile.image.imageName %}
                <img class="w-full" src="{{ vich_uploader_asset(app.user.profile.image, 'imageFile') | imagine_filter('imagePP') }}">
            {% endif %}
            <div class="px-6 py-4">
                {% if app.user.profile.displayName %}
                    <p><strong>{{ app.user.profile.displayName }}</strong></p>
                {% else %}
                    {{ app.user.email }}
                {% endif %}
            </div>

            {{ form_start(formProfileAddImage) }}
            {{ form_row(formProfileAddImage.imageFile) }}
            <button type="submit">Ajouter</button>
            {{ form_end(formProfileAddImage) }}


        </div>


{% endblock %}
