{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        {% if app.user.profile.image and app.user.profile.image.imageName %}
        <img class="w-full" src="{{ vich_uploader_asset(app.user.profile.image, 'imageFile') | imagine_filter('imagePP') }}" alt="Sunset in the mountains">
        {% endif %}
        <div class="px-6 py-4">
            {% if app.user.profile.displayName %}
                <p><strong>{{ app.user.profile.displayName }}</strong></p>
            {% else %}
                {{ app.user.email }}
            {% endif %}
        </div>

        {{ form_start(formProfile, {'action': path('app_profile', {id: app.user.profile.id}), 'method': 'POST'}) }}
        {{ form_row(formProfile.displayName) }}
        <button type="submit">Edit</button>
        {{ form_end(formProfile) }}
        <a href="{{ path('app_addImageProfile', {id: app.user.profile.id}) }}">Nouvelle image</a>

    </div>
{% endblock %}
